# Ignore logs and data files
*.log
*.csv
*.db
*.db.*
*.sqlite
*.sqlite3
config.json
genotype_reference_images/
genotype_reference_ome_uploads/

# Ignore ipynb checkpoints
.ipynb_checkpoints/

# Ignore all __pycache__ directories anywhere in the project
__pycache__/
*/__pycache__/
*/**/__pycache__/
*.py[cod]
*$py.class

# Ignore compiled Python files
*.so
*.pyc
# pixi environments
.pixi
*.egg-info
